img{
    width: 150px;
    height:200px;
}
table{
    width:100%;
    border-spacing: 2px;
}
table, th, td {
    border: 4px solid black;
    
}
th, td {
    padding: 25px;
}
th {
    text-align: left;
    
}
table#t01{
    background-color: paleturquoise; 
}
table#t01 th{
    color: white;
    background-color: purple; 
}
